# =========================
# Java build output
# =========================
bin/
out/
target/

# =========================
# Logs
# =========================
*.log

# =========================
# OS-specific files
# =========================
.DS_Store
Thumbs.db
